.quiz {
    padding-bottom: 96px;
    padding-top: 8px;
    background: var(--purple-bg);

    &__reactions {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        margin-bottom: 80px;
    }

    &__reaction {
        padding: 12px 16px;
        border-radius: 999px;
        background: var(--white);
        border: 2px solid var(--black);
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: var(--transition);
        cursor: default;

        &:hover {
            background: var(--black);
            color: var(--white);
        }
    }

    &__reaction-emoji {
        font-size: 18px;
        line-height: 1;
        padding-right: 16px;
    }

    &__form {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        justify-content: center;
    }

    &__steps {
        display: flex;
        flex-direction: column;
    }

    &__step {
        display: none;
        min-width: 320px;
        padding: 10px 48px 10px 24px;
        background: var(--white);
        border-top-right-radius: 32px;
        border-bottom-right-radius: 6px;

        &--visible {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 10px;
        }

        &--active {
            background: var(--black);
            color: var(--white);
            border-bottom-right-radius: 32px;
        }
    }

    &__step-title {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
    }

    &__step-answer {
        font-family: "Raleway";
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
    }

    &__card {
        height: 100%;
        border-radius: 32px;
        padding-top: 48px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        background: var(--white);
        border: 2px solid var(--black);
        display: none;
        flex-direction: column;
        box-sizing: border-box;

        box-shadow:
            0 -10px 0 var(--purple-light),
            0 -20px 0 var(--purple-soft);

        &--active {
            display: flex;
        }
    }

    &__emoji {
        width: 256px;
        height: 128px;

        font-family: "Raleway";
        font-weight: 600;
        font-size: 128px;
        line-height: 100%;
        margin-bottom: 24px;
    }

    &__card-inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: "Neue Machina";
        font-weight: 700;
        font-size: 72px;
        line-height: 100%;
        margin-bottom: 24px;
        margin-top: 0;
    }

    &__card[data-step="3"] &__title {
        font-size: 71px;
        margin-bottom: 24px;
    }

    &__description {
        font-family: "Raleway";
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 64px;
        margin-top: 0;
        font-weight: 500;
    }

    &__options {
        margin-top: 32px;

        &--checkbox {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            max-width: 700px;
            margin-top: 0;
            margin-bottom: 64px;
        }

        &--radio {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: 0;
            ///////max-width: 755px;
            margin-bottom: 64px;
        }
    }

    &__options--radio .option:nth-child(3),
    &__options--radio .option:nth-child(4) {
        flex: 0 0 100%;
    }

    .option {
        cursor: pointer;

        input {
            display: none;
        }

        &__content {
            padding: 8px 32px;
            border-radius: 20px;
            border: 2px solid var(--black);
            background: var(--white);
            font-family: "Raleway";
            font-size: 17px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: 0.3s;
            font-weight: 500;
            line-height: 100%;
        }

        &--checkbox input:checked + .option__content {
            background: var(--black);
            color: var(--white);
        }

        &__icon {
            width: 22px;
            height: 22px;
            border-radius: 999px;
            display: none;
            align-items: center;
            justify-content: center;
            background: var(--purple);
            color: var(--white);
            font-size: 14px;
        }

        &--checkbox input:checked + .option__content .option__icon {
            display: flex;
        }

        &--radio .option__icon {
            display: flex;
            border: 2px solid var(--black);
            border-radius: 50%;
            background: var(--white);
        }

        &--radio input:checked + .option__content {
            background: var(--black);
            color: var(--white);
        }
    }

    &__textarea {
        height: 54px;
        border: none;
        border-bottom: 2px solid var(--black);
        font-size: 32px;
        font-family: "Raleway";
        margin-bottom: 23px;
        outline: none;
        line-height: 100%;
    }

    &__select {
        width: 295px;
        height: 47px;
        border-radius: 16px;
        border: 2px solid var(--black);
        padding-left: 32px;
        font-family: "Raleway";
        font-size: 20px;
        margin-bottom: 65px;
    }

    &__nav {
        display: flex;
        gap: 16px;
    }

    &__button {
        height: 47px;
        border-radius: 16px;
        padding: 12px 32px;
        font-family: "Raleway";
        font-size: 20px;
        cursor: pointer;

        &--next {
            width: 186px;
            background: var(--black);
            color: var(--white);
            border: none;
        }

        &--back {
            width: 123px;
            background: var(--white);
            border: 2px solid var(--black);
        }
    }
}

@media (max-width: 320px) {
    .quiz {
        padding-bottom: 48px;
    }

    .quiz__container {
        padding: 0px;
    }

    .quiz__reactions {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-bottom: 48px;
        gap: 8px;
    }

    .quiz__reaction {
        font-size: 14px;
        padding: 8px 12px;
        white-space: nowrap;
        border-radius: 999px;
    }

    .quiz__reaction-emoji {
        font-size: 14px;
        padding-right: 8px;
    }

    .quiz__form {
        flex-direction: column;
        gap: 1px;
    }

    .quiz__sidebar {
        order: -1;
        width: 100%;
    }

    .quiz__steps {
        gap: 4px;
        width: 100%;
    }

    .quiz__step {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: unset;
        padding: 12px 16px;
        border-radius: 16px;
        margin-bottom: 0;

        min-width: 100%;
        box-sizing: border-box;
    }

    .quiz__step--active {
        border-radius: 16px;
    }

    .quiz__card {
        width: 100%;
        padding: 24px 10px;
        border-radius: 24px;
        box-shadow:
            0 10px 0 var(--purple-light),
            0 20px 0 var(--purple-soft);
    }

    .quiz__title {
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 16px;
    }

    .quiz__description {
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 24px;
    }

    .quiz__options--radio,
    .quiz__options--checkbox {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 48px;
    }

    .option__content {
        width: auto;
        display: inline-flex;
        align-items: center;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 20px;
    }

    .quiz {
        .option__content {
            padding: 8px 16px;
            font-size: 16px;
            width: auto;
        }
    }

    .quiz__card[data-step="3"] {
        .quiz__emoji {
            display: none;
        }

        .quiz__title {
            font-size: 40px;
            margin-bottom: 16px;
        }

        .quiz__description {
            font-size: 16px;
            margin-bottom: 24px;
        }

        .quiz__textarea {
            font-size: 16px;
            height: 40px;
            margin-bottom: 24px;
        }

        .quiz__select {
            display: none;
        }
    }

    .quiz__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .quiz__button {
        width: 140px;
        height: 35px;
        padding: 8px;
        font-size: 16px;

        border: 2px solid #000;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quiz__button--back {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 16px;
    }

    .option--radio .option__icon {
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
        border-radius: 50%;
        flex: 0 0 18px;
    }

    .option {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
    }
}
