.header {
    background: var(--white);
    border-radius: 24px;
    min-height: 64px;
    border-bottom: 1px solid #f2f2f2;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 48px;
        max-width: none;
    }

    &__logo {
        font-family: "Neue Machina";
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        color: var(--black);
        padding-top: 15px;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 32px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        position: relative;
    }

    &__link {
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        color: var(--black);
        text-decoration: none;
        border-radius: 16px;
        transition: 0.3s;
    }

    &__link.main-btn {
        width: 139px;
        height: 47px;
        border-radius: 16px;
        padding: 12px 16px;
        background: var(--black);
        color: var(--white);
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    &__item--active .header__link {
        border-bottom: 4px solid var(--black);
        border-radius: inherit;
    }

    &__dropdown {
        display: none;
        flex-direction: column;
        gap: 4px;
        margin-top: 4px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 20;
    }

    &__dropdown-item {
        display: inline-block;
        width: auto;
        border-radius: 16px;
        padding: 12px 16px;
        background: var(--black);
        color: var(--white);
        border: none;
        cursor: pointer;
        white-space: nowrap;
        transition: 0.3s;
        align-self: flex-start;
    }

    &__dropdown-item.active {
        background: var(--purple);
    }

    &__dropdown-item--accent {
        background: var(--purple);
    }

    &__item--dropdown:hover .header__dropdown {
        display: flex;
    }

    &__item--active-dropdown > .header__link {
        background-color: var(--purple);
        color: var(--white);
    }

    &__item--active-dropdown > .main-btn {
        background: var(--purple);
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__button {
        font-family: Raleway;
        background: var(--black);
        color: var(--white);
        border: none;
        border-radius: 16px;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        cursor: pointer;
        transition: 0.3s;
        margin-top: 8px;
        margin-right: 48px;

        &:hover {
            opacity: 0.85;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__social {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
    }
}
