.quiz {
    padding-bottom: 96px;
    padding-top: 8px;
    background: var(--purple-bg);

    &__reactions {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        margin-bottom: 80px;
    }

    &__reaction {
        padding: 12px 16px;
        border-radius: 999px;
        background: var(--white);
        border: 2px solid var(--black);
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: var(--transition);
        cursor: default;

        &:hover {
            background: var(--black);
            color: var(--white);
        }
    }

    &__reaction-emoji {
        font-size: 18px;
        line-height: 1;
        padding-right: 16px;
    }

    &__form {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        justify-content: center;
    }

    &__sidebar {
        width: 320px;
    }

    &__steps {
        display: flex;
        flex-direction: column;
    }

    &__step {
        display: none;
        width: 320px;
        padding: 10px 48px 10px 24px;
        background: var(--white);
        border-top-right-radius: 32px;
        border-bottom-right-radius: 6px;

        &--visible {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 10px;
        }

        &--active {
            background: var(--black);
            color: var(--white);
            border-bottom-right-radius: 32px;
        }
    }

    &__step-title {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
    }

    &__step-answer {
        font-family: "Raleway";
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
    }

    &__card {
        width: 1112px;
        height: 634px;
        border-radius: 32px;
        padding-top: 48px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        background: var(--white);
        border: 2px solid var(--black);
        display: none;
        flex-direction: column;
        box-sizing: border-box;

        box-shadow:
            0 -10px 0 var(--purple-light),
            0 -20px 0 var(--purple-soft);

        &[data-step="2"] {
            height: 588px;
        }

        &[data-step="3"] {
            height: 740px;
        }

        &--active {
            display: flex;
        }
    }

    &__emoji {
        width: 256px;
        height: 128px;

        font-family: "Raleway";
        font-weight: 600;
        font-size: 128px;
        line-height: 100%;
        margin-bottom: 24px;
    }

    &__card-inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: "Neue Machina";
        font-weight: 700;
        font-size: 72px;
        line-height: 100%;
        margin-bottom: 24px;
        margin-top: 0;
    }

    &__card[data-step="3"] &__title {
        font-size: 72px;
        margin-bottom: 24px;
    }

    &__description {
        font-family: "Raleway";
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 64px;
        margin-top: 0;
        max-width: 700px;
        font-weight: 500;
    }

    &__options {
        margin-top: 32px;

        &--checkbox {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            max-width: 700px;
            margin-top: 0;
            margin-bottom: 64px;
        }

        &--radio {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: 0;
            max-width: 755px;
            margin-bottom: 64px;
        }
    }

    &__options--radio .option {
        flex: 0 0 calc(50% - 8px);
    }

    &__options--radio .option:nth-child(3),
    &__options--radio .option:nth-child(4) {
        flex: 0 0 100%;
    }

    .option {
        cursor: pointer;

        input {
            display: none;
        }

        &__content {
            padding: 8px 32px;
            border-radius: 20px;
            border: 2px solid var(--black);
            background: var(--white);
            font-family: "Raleway";
            font-size: 17px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: 0.3s;
            font-weight: 500;
            line-height: 100%;
        }

        &--checkbox input:checked + .option__content {
            background: var(--black);
            color: #fff;
        }

        &__icon {
            width: 22px;
            height: 22px;
            border-radius: 999px;
            display: none;
            align-items: center;
            justify-content: center;
            background: var(--purple);
            color: var(--white);
            font-size: 14px;
        }

        &--checkbox input:checked + .option__content .option__icon {
            display: flex;
        }

        &--radio .option__icon {
            display: flex;
            border: 2px solid var(--black);
            border-radius: 50%;
            background: var(--white);
        }

        &--radio input:checked + .option__content {
            background: var(--black);
            color: var(--white);
        }
    }

    &__textarea {
        width: 700px;
        height: 54px;
        border: none;
        border-bottom: 2px solid var(--black);
        font-size: 32px;
        font-family: "Raleway";
        margin-bottom: 23px;
        outline: none;
        line-height: 100%;
    }

    &__select {
        width: 295px;
        height: 47px;
        border-radius: 16px;
        border: 2px solid var(--black);
        padding-left: 32px;
        font-family: "Raleway";
        font-size: 20px;
        margin-bottom: 65px;
    }

    &__nav {
        display: flex;
        gap: 16px;
    }

    &__button {
        height: 47px;
        border-radius: 16px;
        padding: 12px 32px;
        font-family: "Raleway";
        font-size: 20px;
        cursor: pointer;

        &--next {
            width: 186px;
            background: var(--black);
            color: var(--white);
            border: none;
        }

        &--back {
            width: 123px;
            background: var(--white);
            border: 2px solid var(--black);
        }
    }
}
