.quiz {
  padding: 120px 0;

  &__form {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  &__sidebar {
    width: 320px;
  }

  &__steps {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 32px;
    background: #f5f5f5;
  }

  &__step-item {
    padding: 10px 48px 10px 24px;
    border-radius: 0 8px 8px 0;
    font-weight: 500;

    &--active {
      background: #000;
      color: #fff;
    }
  }

  &__card {
    width: 1112px;
    border-radius: 32px;
    padding: 48px;
    background: #fff;
    border: 2px solid #000;
    display: none;

    &--active {
      display: block;
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 32px;
  }

  &__option {
    position: relative;
  }

  &__input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 32px;
    height: 44px;
    border-radius: 20px;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
  }

  &__input:checked + .quiz__option-btn {
    background: #000;
    color: #fff;
  }
}