:root {
    --purple: #9E00FF;
    --purple-light: #E9C4FF;
    --purple-soft: #F0D9FF;
    --purple-bg: #F9EFFF;
    --accent: #FF004C;
    --black: #000;
    --gray: #F2F2F2;
    --white: #fff;

    --transition: 0.15s ease;
}