@font-face {
    font-family: "Neue Machina";
    src: url("../fonts/PPNeueMachina-Regular.woff2") format("woff2"),
        url("../fonts/PPNeueMachina-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Machina";
    src: url("../fonts/PPNeueMachina-Ultrabold.woff2") format("woff2"),
        url("../fonts/PPNeueMachina-Ultrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
        url("../fonts/Raleway-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
        url("../fonts/Raleway-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}