@import "./fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: var(--black);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

:root {
    --purple: #9E00FF;
    --purple-light: #E9C4FF;
    --purple-soft: #F0D9FF;
    --purple-bg: #F9EFFF;
    --accent: #FF004C;
    --black: #000;
    --gray: #F2F2F2;

    --transition: 0.15s ease;
}