@import "./base/fonts";
@import "./base/reset";
@import "./base/variables";

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width: 1200px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/quiz";
@import "./blocks/cards";
@import "./blocks/footer";